{% extends 'base.html' %}
{% load static %}

{% comment %} * page title * {% endcomment %}
{% block title %}
    {{title}}
{% endblock title %}

{% comment %} * content block * {% endcomment %}
{% block content %}
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-center auth-form-container">
            {% comment %} form start {% endcomment %}
            <form method="POST" class="auth-form border rounded shadow-sm px-5 py-5">
                {% comment %} * token* {% endcomment %}
                {% csrf_token %}

                <div class="row">

                    <!-- logo -->
                    <div class="col-12 d-flex align-items-center justify-content-center pb-4 border-bottom">
                        <i class="svg-logo logo-icon modal-logo"></i>
                    </div>

                    <!-- login header -->
                    <div class="col-12 mt-4 d-flex align-items-center justify-content-center">
                        <h3 class="h3 text-primary">{{title}} {{code}}</h3>
                    </div>

                    {% if messages %}
                    
                        {% for message in messages %}
                        
                            {% if message.tags == 'success' %}

                                <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center">
            
                                    {% comment %} success allert {% endcomment %}
                                    {% include 'inc/messages/_success.html' %}

                                    <p class="d-block mt-2 text-center w-100"> 
                                        After 3 seconds, you will be redirected to the customer information page
                                    </p>

                                    <p class="d-block mt-1 text-center w-100"> 
                                        If the redirect did not happen, click on the link below
                                    </p>

                                    <a href="{% url 'user_info' %}" class="d-block fs-5 link mt-2 pt-3 border-top w-100 text-center"> 
                                        <i class="fa fa-user me-2 fs-5" aria-hidden="true"></i>
                                        <span>Go to user info</span>
                                    </a>

                                    <script>
                                        setTimeout(function(){
                                            window.location.href = '/user/info/';
                                        }, 3000);
                                    </script>
                                </div>

                            {% else %}
                                {% comment %} error allert {% endcomment %}
                                {% include 'inc/messages/_error.html' %}
                            
                                {% comment %} code input {% endcomment %}
                                <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center">
                                    <p class="login__info w-100 d-flex align-items-center py-3">
                                        <span class="d-block">The confirmation code has been sent to your Email:</span>
                                        <span class="d-block text-primary ms-2">{{user.email}}</span>
                                    </p>

                                    {% for input in form %}
                                        {{input}}
                                    {% endfor %}

                                </div>

                                {% comment %} send new code {% endcomment %}
                                <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center" id="resend_timer_container">

                                    {% if timer %}

                                        <div class="login__info w-100 d-flex align-items-center justify-content-center py-3">
                                            <span class="d-block">You will be able to resend the code after</span>
                                            <span class="d-block ms-2 fs-4 link" id="resend_timer"></span>
                                            <i class="fa fa-clock-o ms-1 fs-5 link" aria-hidden="true"></i>
                                        </div>

                                    {% else %}
                                        
                                        <div class="login__info w-100 d-flex align-items-center justify-content-between py-3">
                                            <span>Didn't get the code ?</span>
                                            <a href="{% url 'email_confirm_again' %}" id="resend_mail_code" class="btn btn-secondary">Send the code again</a>
                                        </div>

                                    {% endif %}

                                </div>
                                
                                {% comment %} submit {% endcomment %}
                                <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-primary w-100">
                                        Confirm
                                    </button>
                                </div>

                            {% endif %}
                                
                        {% endfor %}

                    {% else %}
                        {% comment %} code input {% endcomment %}
                        <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center">
                            <p class="login__info w-100 d-flex flex-column align-items-center py-3">
                                <span class="d-block">The confirmation code has been sent to your Email:</span>
                                <span class="d-block text-primary mt-2">{{user_email}}</span>
                            </p>

                            {% for input in form %}
                                {{input}}
                            {% endfor %}

                        </div>

                        {% comment %} send new code {% endcomment %}
                        <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center" id="resend_timer_container">

                            {% if timer %}

                                <div class="login__info w-100 d-flex align-items-center justify-content-center py-3">
                                    <span class="d-block">You will be able to resend the code after</span>
                                    <span class="d-block ms-2 fs-4 link" id="resend_timer"></span>
                                    <i class="fa fa-clock-o ms-1 fs-5 link" aria-hidden="true"></i>
                                </div>

                            {% else %}
                                
                                <div class="login__info w-100 d-flex align-items-center justify-content-between py-3">
                                    <span>Didn't get the code ?</span>
                                    <a href="{% url 'email_confirm_again' %}" id="resend_mail_code" class="btn btn-secondary">Send the code again</a>
                                </div>

                            {% endif %}

                        </div>
                        
                        {% comment %} submit {% endcomment %}
                        <div class="col-12 mt-4 d-flex flex-column align-items-center justify-content-center">
                            <button type="submit" class="btn btn-primary w-100">
                                Confirm
                            </button>
                        </div>
                    {% endif %}

                </div>

            </form>
            {% comment %} form end {% endcomment %}
        </div> 
    </div>
{% endblock content %}

{% comment %} * scripts * {% endcomment %}
{% block scripts %}

    {% comment %} ! google captcha ! {% endcomment %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% comment %} ! Bootstrap ! {% endcomment %}
    <script src="{% static 'js/public/timer-min.js' %}"> </script>

{% endblock scripts %}

