{% extends 'base.html' %}
{% load static %}

{% comment %} * page title * {% endcomment %}
{% block title %}
    {{title}}
{% endblock title %}

{% comment %} * content block * {% endcomment %}
{% block content %}
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-center auth-form-container">
            <form method="POST" class="auth-form border rounded shadow-sm px-5 py-5">
                {% comment %} token {% endcomment %}

                <div class="logo w-100 d-flex align-items-center justify-content-center pb-4 border-bottom">
                    <img src="{% static 'img/logo/LaBrilliante.svg' %}" alt="" class="w-75">
                </div>
                
                <div class="w-100 d-flex justify-content-center align-items-center py-3 flex-column">
                    <h3 class="h3 text-success">Registration was <span class="text-success">successful</h3>

                    <p class="fs-6 mt-2">
                        Now you can log in to the site
                    </p>

                    
                </div>

                <div class="w-100 d-flex justify-content-center align-items-center mt-2">
                    <a href="{% url 'signin' %}" class="btn btn-primary fs-6 py-2 px-4">Log in to the site</a>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}

{% comment %} * scripts * {% endcomment %}
{% block scripts %}

    {% comment %} ! google captcha ! {% endcomment %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'js/public/bootstrap/bootstrap.bundle.min.js' %}"></script>

{% endblock scripts %}

