{% extends 'base.html' %}
{% load static %}

{% comment %} * page title {% endcomment %}
{% block title %} {{title}} {% endblock title %}

{% comment %} * content {% endcomment %}
{% block content %}

        {% include 'inc/_header.html' %}
        {% include 'inc/_canvas.html' %}
        {% include 'inc/_indev.html' %}

        <div class="wrapper min-vh-100 orders-wrapper">    
            <div class="container-fluid container-io px-5 mt-5 content-container diamond-items-container">
                <section class="orders mt-4">
                    <div action="" method="" class="orders__search border-bottom py-2 px-3">
                        <h2 class="h2 text-nowrap">Your Orders</h2>
    
                        <form action="#" id="orders_search_form" class="d-flex align-items-center orders__search-form">
    
                            <button type="button" class="btn btn-primary d-none w-100 orders__show-search"
                                id="orders-search-btn">
                                Show Search
                                <i class="fa fa-filter ms-2"></i>
                            </button>
    
                            <div class="d-flex orders__search-body align-items-center" id="orders-search-body">
                                <div class="orders__search-group me-2 d-flex align-items-center">
                                    <span class="me-2 text-nowrap">Data from</span>
                                    <input type="date" class="form-control me-2" name="date_from">
                                </div>
    
                                <div class="orders__search-group me-2 d-flex align-items-center">
                                    <span class="me-2 text-nowrap">Data To</span>
                                    <input type="date" class="form-control me-2" name="date_to">
                                </div>
    
                                <div class="orders__search-group me-2">
                                    <input type="search" id="input_search" class="form-control orders__search-input"
                                        placeholder="Search Orders" name="search">
                                </div>
    
                                <button type="submit" id="input_submit" class="btn btn-secondary px-4 text-nowrap orders__search-btn">Search
                                    <i class="fa fa-search ms-2"></i></button>
                            </div>
                        </form>
                    </div>
    
                    <div class="orders__items mt-4 pb-3" id="orders_items">
                        {% comment %} * view orders list {% endcomment %}
                        {% for order in orders  %}
                            <div class="orders__item shadow-sm border" data-orders-item="{{order.order_number}}">
                                <div class="orders__item-header py-3 px-3">
                                    {% comment %} ? values list {% endcomment %}
                                    <ul class="orders__item-header-list m-0">
                                        {% comment %} type {% endcomment %}
                                        <li class="orders__item-header-element pe-4">
                                            <span class="text-capitalize fs-5 text-primary" data-order-type="{{order.get_order_type_display}}">{{order.get_order_type_display}}</span>
                                        </li>
                                        {% comment %} date placed {% endcomment %}
                                        <li class="orders__item-header-element orders__item--date">
                                            <span class="text-uppercase">Placed</span>
                                            <span class="orders__item--value" data-order-placed="{{order.created_at|date:"M-d-m-Y"}}">{{order.created_at|date:"M-d-m-Y"}}</span>
                                        </li>
                                        {% comment %} diamonds len {% endcomment %}
                                        <li class="orders__item-header-element">
                                            <span class="text-uppercase">Total Diamonds:</span>
                                            <span class="orders__item--value" data-order-diamonds="{{order.total_diamonds}}">{{order.total_diamonds}}</span>
                                        </li>
                                        {% comment %} carat {% endcomment %}
                                        <li class="orders__item-header-element">
                                            <span class="text-uppercase">Total Carat:</span>
                                            <span class="orders__item--value" data-order-carat="{{order.total_carat}}">{{order.total_carat}}</span>
                                        </li>
                                        {% comment %} price {% endcomment %}
                                        <li class="orders__item-header-element">
                                            <span class="text-uppercase">Total Price:</span>
                                            <span class="orders__item--value">$<span data-order-price="{{order.total_price}}">{{order.total_price}}</span></span>
                                        </li>
                                    </ul>
                                    
                                    {% comment %} ? buttons + number {% endcomment %}
                                    <div class="orders__item-header-number">

                                        {% comment %} ? order number {% endcomment %}
                                        <div class="d-flex">
                                            <span class="text-uppercase">Order Number #</span>
                                            <span class="text-capitalize" data-order-number="{{order.order_number}}">{{order.order_number}}</span>
                                        </div>
                                        
                                        {% comment %} ? order buttons {% endcomment %}
                                        <div class="d-flex mt-2 orders__header-buttons">
                                            <button type="button" class="link bg-none fs-5 me-3" data-view-details="order_details">View order details</button>
                                            <button type="button" class="link bg-none fs-5" data-view-invoice="view_invoice">View invoice</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="orders__item-footer py-3 px-3 border-top">
                                    {% if order.order_status == '1' %}
                                        <span class="fs-5 d-block text-alert" data-order-status="{{order.get_order_status_display}}">Status: {{order.get_order_status_display}}</span>
                                    {% elif order.order_status == '0' %}
                                        <span class="fs-5 d-block text-danger" data-order-status="{{order.get_order_status_display}}">Status: {{order.get_order_status_display}}</span>
                                    {% else %}
                                        <span class="fs-5 d-block text-success" data-order-status="{{order.get_order_status_display}}">Status: {{order.get_order_status_display}}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

            <div class="order-details" id="order_details_modal">

                <div class="order-details__body rounded shadow">

                    <div class="order-details__header py-3 border-bottom">
                        <img src="{% static 'img/logo/Heart.svg' %}" class="img-fluid order-logo" alt="">
                        <h3 class="h3 m-0 p-0">Order details</h3>
                        <h4 class="h4 m-0 p-0 ms-2 text-success" data-modal-number="">#</h4>
                        <span class="close-modal" data-modal-close="details"></span>
                    </div>

                    <div class="order-details__info">

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Order Type:</span>
                            <span class="order-details__info-value ms-1 text-success" data-modal-type=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Status:</span>
                            <span class="order-details__info-value ms-1" data-modal-status=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Placed:</span>
                            <span class="order-details__info-value ms-1" data-modal-placed=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Total Diamonds:</span>
                            <span class="order-details__info-value ms-1" data-modal-len=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Total Carat:</span>
                            <span class="order-details__info-value ms-1" data-modal-carat=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Total Price: $</span>
                            <span class="order-details__info-value ms-1" data-modal-price=""></span>
                        </div>
                    </div>

                    <div class="order-details__name content-name">
                        <div class="w-100">
                            <ul class="item-list-name pe-4">
    
                                <li class="params-filter--item-quick">
                                    <span>Quick result</span>
                                </li>
                            
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="shape" data-io-sort="hide">
                                    <span>Shape</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="disc" data-io-sort="show">
                                    <span>Disc%</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="sale_price" data-io-sort="show">
                                    <span>Price</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="weight" data-io-sort="show">
                                    <span>Carat</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="cut" data-io-sort="hide">
                                    <span>Cut</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="color" data-io-sort="hide">
                                    <span>Color</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="clarity" data-io-sort="hide">
                                    <span>Clarity</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="table_procent" data-io-sort="hide">
                                    <span>T%</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="depth_procent" data-io-sort="hide">
                                    <span>D%</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="lw" data-io-sort="show">
                                    <span>L/W</span>
                                    
                                </li>
                            
                                <li class="params-filter--item params-filter--sort" 
                                    data-io-simple-sort="cert_company" data-io-sort="hide">
                                    <span>Report</span>
                                    
                                </li>
                            
                            </ul>
                        </div>
                    </div>

                    <div class="order-details__content" data-modal-content=""></div>

                </div>

            </div>

            <div class="order-details" id="order_invoice_modal">

                <div class="order-details__body rounded shadow">

                    <div class="order-details__header py-3 border-bottom invoice-header">
                        <img src="{% static 'img/logo/LaBrilliante.svg' %}" class="img-fluid order-logo mt-2" alt="">
                        <h5 class="h5 m-0 p-0 mt-3">Labrilliante LLC
                            330 Washington St., PMB 231, Hoboken, NJ 07030
                            +1 (646) 812-4580
                        </h5>
                        <h4 class="h4 m-0 p-0 ms-2 text-success d-none" data-modal-number="">#</h4>
                        <span class="close-modal" data-modal-close="details"></span>
                    </div>

                    <div class="order-details__info invoice-info">

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Buyer:</span>
                            <span class="order-details__info-value ms-1 text-success" data-modal-buyer=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Address:</span>
                            <span class="order-details__info-value ms-1" data-modal-address=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Attn:</span>
                            <span class="order-details__info-value ms-1" data-modal-attn=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Tel:</span>
                            <span class="order-details__info-value ms-1" data-modal-tel=""></span>
                        </div>

                        <div class="order-details__info-item px-2 py-2">
                            <span class="order-details__info-name">Total amount due: $</span>
                            <span class="order-details__info-value ms-1" data-modal-price=""></span>
                        </div>
                    </div>

                    <div class="order-details__name content-name invoice-content-name">
                        {% include 'inc/_simple_names.html' %}
                    </div>

                    <div class="order-details__content invoice-content" data-modal-content=""></div>
                    
                    <div class="order-details__footer px-3">
                        <h6 class="h6">*Please make checks payable to Labrilliante LLC and mail to: PO Box 3040, Jersey City, NJ 07303</h6>
                        <h6 class="h6">**Please contact our team member for EFT information</h6>
                    </div>

                </div>

            </div>
        </div>

{% endblock content %}

{% comment %} * scripts {% endcomment %}
{% block scripts %}

    {% comment %} @ dev @ {% endcomment %}

    <script src="{% static 'js/public/ajax-min.js' %}"></script>
    <script src="{% static 'js/public/delivery_date-min.js' %}"></script>
    <script src="{% static 'js/public/diamond_view-min.js' %}"></script>
    <script src="{% static 'js/node_modules/sortablejs/Sortable.min.js' %}"></script>
    <script src="{% static 'js/public/classes/nouiSlider.min.js' %}"></script>
    <script src="{% static 'js/public/classes/elementControl-min.js' %}"></script>
    <script src="{% static 'js/public/classes/sort.js' %}"></script>
    <script src="{% static 'js/public/orders-min.js' %}"></script>
    <script src="{% static 'js/public/canvas-min.js' %}"></script>
    <script src="{% static 'js/public/classes/scroll-min.js' %}"></script>
    <script src="{% static 'js/public/in-dev-min.js' %}"></script>
    <script src="{% static 'js/public/bootstrap/bootstrap.bundle.min.js' %}"></script> 


{% endblock scripts %}