{% if form.errors or messages %}
    {% for message in messages %}

        {% comment %} Error {% endcomment %}
        {% if message.tags == 'error' %}
            {% include 'inc/messages/_error.html' %}

        {% comment %} Success {% endcomment %}
        {% elif message.tags == 'success' %}
            {% include 'inc/messages/_success.html' %}

        {% comment %} Info {% endcomment %}
        {% elif message.tags == 'info' %}
            {% include 'inc/messages/_info.html' %}

        {% comment %} Error list {% endcomment %}
        {% elif message.tags == 'warning' %}
            {% include 'inc/messages/_error_list.html' %}
        {% endif %}



    {% endfor %}
{% endif %}