<div class="alert alert-success mt-3 w-100 shadow-sm alert-dismissible fade show border-0" role="alert">
    {% comment %} * alert header {% endcomment %}
    <div class="my-2">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa fa-exclamation-triangle me-2 fs-5" aria-hidden="true"></i>
            <h5 class="h5 m-0 p-0">{{message}}</h5>
        </div>
        <button type="button" class="btn-close shadow-none border-none" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>