{% load static %}

<h2 style="font-size:22px;color:#5dc2aa">The user {{login}} has updated the information about himself</h2>

<h2 style="font-size: 18px; color: #5dc2aa; margin: 10px 0 5px 0;">User Details</h2>
<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">
    
    <li style="margin-top:10px;">Login: {{login}}</li>

    <li style="margin-top:10px; text-transform: capitalize;">Name: {{fname}}</li>
    
    <li style="margin-top:10px; text-transform: capitalize;">Last Name: {{lname}}</li>
    
    <li style="margin-top:10px;">Email: <span>{{user_email}}</span></li>
    
    <li style="margin-top:10px;">Tel: <span>{{user_tel}}</span></li>

</ul>

<h2 style="font-size: 18px; color: #5dc2aa; margin: 10px 0 5px 0;">Company Details</h2>
<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">

    <li style="margin-top:10px; text-transform:capitalize;">Company Name: <span>{{company_name}}</span></li>
    
    <li style="margin-top:10px;">Company Tel: <span>{{company_tel}}</span></li>

    <li style="margin-top:10px;">Company Email: <span>{{company_email}}</span></li>

    <li style="margin-top:10px;">Company Addres: <span>{{company_address}}</span></li>

</ul>

<a href="#" style="font-size: 16px; margin-top: 50px; color: #5dc2aa !important; text-decoration: none;">Go to the b2b.Labrilliante.com</a>