{% load static %}

<h2 style="font-size:22px;color:#5dc2aa">New order was created</h2>

<h5 style="font-size: 18px; color: #5dc2aa; margin: 10px 0 5px 0;">User details</h5>
<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">

    <li style="padding: 4px;">Login: <span>{{login}}</span></li>
    <li style="padding: 4px;">F-Name: <span>{{fname}}</span></li>
    <li style="padding: 4px;">L-Name: <span>{{lname}}</span></li>
    <li style="padding: 4px;">Email: <span>{{user_email}}</span></li>
    <li style="padding: 4px;">Tel: <span>{{user_tel}}</span></li>


</ul>

<h5 style="font-size: 18px; color: #5dc2aa; margin: 10px 0 5px 0;">Company details</h5>
<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">

    <li style="padding: 4px;">Compnay name: <span>{{company_name}}</span></li>
    <li style="padding: 4px;">Company address: <span>{{company_address}}</span></li>
    <li style="padding: 4px;">Company email: <span>{{company_email}}</span></li>
    <li style="padding: 4px;">Company tel: <span>{{company_tel}}</span></li>

</ul>

<h5 style="font-size: 18px; color: #5dc2aa; margin: 10px 0 5px 0;">Order details</h5>
<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">

    <li classstyle="padding: 4px;">Order Number: {{order_number}}</li>
    <li classstyle="padding: 4px;">Order Type: {{order_type}}</li>

</ul>

<a href="#" style="font-size: 16px; margin-top: 50px; color: #5dc2aa !important; text-decoration: none;">Go to the b2b.Labrilliante.com</a>