{% load static %}

<h2 style="font-size:22px;color:#5dc2aa">New order was created</h2>

<h5 style="font-size: 18px; color: #5dc2aa;">User details</h5>
<ul style="margin: 10px 0; padding: 10px;">

    <li style="padding: 5px;">Login: <span>{{login}}</span></li>
    <li style="padding: 5px;">FNAME: <span>{{fname}}</span></li>
    <li style="padding: 5px;">LNAME: <span>{{lname}}</span></li>
    <li style="padding: 5px;">Email: <span>{{user_email}}</span></li>
    <li style="padding: 5px;">Tel: <span>{{user_tel}}</span></li>


</ul>

<h5 style="font-size: 18px; color: #5dc2aa;">Company details</h5>
<ul style="margin: 10px 0; padding: 10px;">

    <li style="padding: 5px;">Compnay name: <span>{{compnay_name}}</span></li>
    <li style="padding: 5px;">Company address: <span>{{compnay_address}}</span></li>
    <li style="padding: 5px;">Company email: <span>{{compnay_email}}</span></li>
    <li style="padding: 5px;">Company tel: <span>{{compnay_tel}}</span></li>

</ul>

<h5 style="font-size: 18px; color: #5dc2aa;">Order details</h5>
<ul style="margin: 10px 0; padding: 10px;">

    <li classstyle="padding: 5px;"></li>
    <li classstyle="padding: 5px;"></li>
    <li classstyle="padding: 5px;"></li>
    <li classstyle="padding: 5px;"></li>

</ul>

<a href="#" style="font-size: 16px; margin-top: 40px; color: #5dc2aa !important;">Go to the b2b.Labrilliante.com</a>