{% load static %}

<h2 style="font-size:22px;color:#5dc2aa; padding: 10px 0; border-bottom: 1px solid #c5c5c5;">Activation code for {{login}} <br> B2B Labrilliante com</h2>

<p style="font-size: 14px">
    Activation code for the account: <span style="color: #5dc2aa !important;">{{login}}</span>

</p>

<p style="font-size: 14px; margin-top: 10px; padding: 10px 0; border-bottom: 1px solid #c5c5c5;">
    Your activation code: <span style="color: #5dc2aa !important; font-size: 20px;">{{code}}</span>
</p>

<a href="#" style="font-size: 16px; margin-top: 40px; color: #5dc2aa !important;">Go to the b2b.Labrilliante.com</a>