<div class="w-100">
    <ul class="item-list-name pe-4">

        <li class="params-filter--item-quick">
            <span>Quick result</span>
        </li>

        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="shape" data-io-sort="hide">
            <span>Shape</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="disc" data-io-sort="show">
            <span>Disc%</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="sale_price" data-io-sort="show">
            <span>Price</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="weight" data-io-sort="show">
            <span>Carat</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="cut" data-io-sort="hide">
            <span>Cut</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="color" data-io-sort="hide">
            <span>Color</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="clarity" data-io-sort="hide">
            <span>Clarity</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="table_procent" data-io-sort="hide">
            <span>T%</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="depth_procent" data-io-sort="hide">
            <span>D%</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="lw" data-io-sort="show">
            <span>L/W</span>
            
        </li>
    
        <li class="params-filter--item params-filter--sort m-0 p-0" 
            data-io-simple-sort="lab" data-io-sort="hide">
            <span>Report</span>
            
        </li>
    
    </ul>
</div>