<ul class="item-list-name">
    
    <li class="params-filter--item-quick">
        <span>Quick result</span>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="compare" data-io-sort="hide">
        <span>Compare</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="shape" data-io-sort="hide">
        <span>Shape</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="disc" data-io-sort="show">
        <span>Disc%</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort active-2" 
        data-io-simple-sort="sale_price" data-io-sort="show">
        <span>Price</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="weight" data-io-sort="show">
        <span>Carat</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="cut" data-io-sort="hide">
        <span>Cut</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="color" data-io-sort="hide">
        <span>Color</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="clarity" data-io-sort="hide">
        <span>Clarity</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="table_procent" data-io-sort="hide">
        <span>T%</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="depth_procent" data-io-sort="hide">
        <span>D%</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="lw" data-io-sort="show">
        <span>L/W</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

    <li class="params-filter--item params-filter--sort" 
        data-io-simple-sort="lab" data-io-sort="hide">
        <span>Report</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </li>

</ul>