body {
  font-family: 'BrandonGrotesque';
}
/* sidebar */
.app_li {
  font-weight: 400 !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #3c3f3f;
  transition: background-color 0.4s ease, color 0.4s ease;
  text-decoration: none !important;
}
.app_li:hover {
  background-color: #55b49e;
  color: #ffffff !important;
}
.current {
  background-color: #e1e2e2d1;
}
a[aria-current="page"] {
  color: #5DC2AA;
}
.add-link-text {
  color: #5DC2AA !important;
  transition: color 0.4s ease;
}
.add-link-text:hover {
  color: #55b49e !important;
}

/* bg */
.bg-lite {
  background-color: #e1e2e2d1 !important;
}
.bg-dark {
  background-color: #3c3f3f !important;
}

.checkbox-row {
  display: flex;
}
.checkbox-row > input[type="checkbox"] + label {
  margin-left: 10px;
}


/* logo */
.logo-icon-admin {
  display: block;
  width: 100%;
  height: 100%;
  background-position: start;
  background-size: contain;
  background-repeat: no-repeat !important;
}
.logo-heart {
  height: 50px;
}

/* bread crumbs */
.breadcrumbs {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #3c3f3f !important;
  color: #55b49e !important;
}
.breadcrumbs > a {
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 400 !important;

}

/* inputs */
.form-sinput-search {
  width: 250px;
  height: 27px !important;
  border-radius: 2px !important;
  transition: border-color 0.4s ease;
  
}
.form-sinput-search:focus {
  border-color: #55b49e !important;
}

/* checkbox */
input[type="checkbox"] {
  display: block;
  position: relative;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "🗸";
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #3c3f3f7b;
  color: #ffffff00;
  position: absolute;
  border-radius: 3px;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  left: -1px;
  top: -1px;
}
input[type="checkbox"]::after {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #3c3f3f7b;
  color: #ffffff00;
  position: absolute;
  border-radius: 2px;
  left: -1px;
  top: -1px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
input[type="checkbox"]:checked::before {
  background-color: #5DC2AA;
  border-color: #5DC2AA;
  color: #ffffff;
  z-index: 2;
}
input[type="submit"] {
  background-color: #55b49e !important;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #3c3f3f !important;
}

/* * buttons * */

/* btn */
.btn-admin {
  border-radius: 2px !important;
  height: fit-content !important;
  width: fit-content !important;
}
.btn-height {
  height: 34px !important;
}
.historylink {
  background-color: #3c3f3f !important;
  border-radius: 2px !important;
  transition: backgroun-color 0.4s ease;
}
.historylink:hover {
  background-color: #55b49e !important;
}
input[type="submit"][name="_save"] {
  background-color: #55b49e;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 2px !important;
}
input[type="submit"][name="_save"]:hover {
  background-color: #3c3f3f;
}

.link-def {
  color: #3c3f3f !important;
  transition: color 0.3s ease;
}
.link-def:hover {
  color: #55b49e !important;
}

/* primary */
.btn-primary-admin {
  background-color: #55b49e !important;
  transition: background-color 0.4s ease;
}
.btn-primary-admin:hover {
  background-color: #5DC2AA;
}



/* search */
.btn-search {
  height: 28px !important;
}

/* delete */
.btn-delete-admin {
  height: fit-content !important;
  width: fit-content !important;
  border: none !important;
  background-color: #e44f5b !important;
  color: #fff !important;
}
.btn-delete-admin:hover {
  outline: none !important;
  box-shadow: 0 !important;
  border: 0 !important;
  background-color: #e44452 !important;

}

/* secondary */
.btn-secondary-admin {
  background-color: #3c3f3f !important;
  transition: background-color 0.4s ease;
}
.btn-secondary-admin:hover {
  background-color: #55b49e !important;
}

/* model items selected */
tr.selected {
  background-color: #5dc2aa82 !important;
}
.tbody > tr > td > a, .tbody > tr > th > a {
  color: #55b49e !important;

}

/* option + select */
select {
  border-radius: 3px !important;
  border: 1px solid #d2d2d2;
  transition: border-color 0.3s ease;
}
select:hover, select:focus {
  border: 1px solid #55b49e;
  cursor: pointer;
}

/* rows */
.paginator {
  border-top: 1px solid #e8e8e8dc !important;
  border-bottom: 1px solid #e8e8e8dc !important;
}
.form-row {
  border-top: 1px solid #e8e8e8dc !important;
  border-bottom: 1px solid #e8e8e8dc !important;
}
